*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/eirikhl/musicorganization/resources/apikey.txt
/app/src/main/java/eirikhl/musicorganization/resources/username.txt
